* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/Background.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
    position: relative;
}

h1{
    color: white;
    margin: 10px;
    text-align: center;
}

.container {
    min-height: 200px;
    max-height: 500px;
    min-width: 350px;
    max-width: 350px;
    background-color: transparent;
    margin: 20px 20px;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid rgb(137, 125, 121);
    position: absolute;
    left: 50%;
    
    transform: translate(-50%);
}

.search {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 20px;
    


}

.search #city {
    border-radius: 5px;
    padding-left: 10px;
    width: 80%;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.search #city:focus{
    outline: none;
    
}


.search #search-btn {
    border-radius: 50px;
    padding: 10px;
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
    display: flex;
}



.weather-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin: 20px;
}

.weather-info img {
    height: 150px;
    width: 150px;
}

.weather-info h1 {
    font-size: 80px;
}

.weather-info h2 {
    font-size: 30px;
}



.details {
    display: flex;
    justify-content: space-around;

}

.left {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    color: white;
}

.left img {
    height: 40px;
    width: 40px;
    margin: 10px;
}


.right {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    color: white;
}

.right img {
    height: 40px;
    width: 40px;
    margin: 10px;
}